@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,600;1,600&display=swap');

*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$dark-slate-blue: #505383;
$maroon: #5d2508;
$tan: #dacdc1;

body {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    h1 {
        font-size: 72px;
    }
    h2 {
        font-size: 52px;
    }
    

    #header {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        text-transform: uppercase;
        color: white;
        background-color: $tan;
        a {
            color: white;
        }
    }
    
    .sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        // background-color: rgba(255, 255, 255, 0.2);
        padding: 20px;
        font-size: 20px;
        z-index: 5;
    }
    
    .landing-page {
        background-image: url("/img/cover.jpeg");
        background-color: #cccccc;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        p {
            padding: 40vh;
        }
        
    }

    .intro-text {
        // text-align: center;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        text-align: left;
        color: white;
        text-transform: uppercase;
    }

    .AboutPage, .ContactPage, .PortfolioPage, .ResumePage {
        min-height: 100vh;
        background-color: $dark-slate-blue;
        padding-top: 60px;
        padding-bottom: 40px;
        
    }

    #about, #portfolio, #contact, #resume {
        width: 60vw;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        line-height: 1.5;
    }

    #portfolio {
        text-align: left;
        .show-details {
            display: show;
            background-color: green;
        }
        .hide-details {
            display: none;
            background-color: red;
        }
        .project-image {
            display: inline-block;
            width: 30%;
            height: auto;
            padding: 10px;
        }
        img {
            max-width: 100%;
        }
        .cantaloupe-body {
            display: inline-block;
        }
    }

    #contact {
        .top {
            height: 60vh;
            background-color: none;
        }
        .social-icon {
            width: 50px;
            height: auto;
            padding: 10px;
            color:green
        }
        .social {
            display: flex;
            align-items: center;
            margin: 5px;
        }
    }

}
