*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    
    // .App {
    //     background-color: linear-gradient(red, yellow);
    // }
    

    #header {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        text-transform: uppercase;
        color: white;
    }
    
    .sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 20px;
        font-size: 20px;
        z-index: 5;
    }
    
    .landing-page {
        background-image: url("/img/cover.jpeg");
        background-color: #cccccc;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        p {
            padding: 40vh;
        }
        
    }

    .intro-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }

    #about, #contact, #portfolio, #resume {
        min-height: 100vh;
        background-image: linear-gradient(red, yellow);
    }

}
