@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,600;1,600&display=swap');

*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$dark-slate-blue: #505383;
$maroon: #5d2508;
$tan: #dacdc1;

body {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    h1 {
        font-size: 72px;
    }
    h2 {
        font-size: 52px;
    }
    

    #header {
        // display: flex;
        // justify-content: space-between;
        font-size: 16px;
        text-transform: uppercase;
        color: white;
        background-color: $tan;
        a {
            display: inline-block;
            text-decoration: none;
            color: white;
            font-weight: 400;
        }
        a:hover {
            color: $dark-slate-blue;
        }
        .nav-links {
            display: flex;
            justify-content: space-between;
            padding: 0 200px;
        }
    }
    
    .sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        // background-color: rgba(255, 255, 255, 0.2);
        padding: 20px;
        font-size: 20px;
        z-index: 5;
    }
    
    .landing-page {
        background-image: url("/img/cover.jpeg");
        background-color: #cccccc;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        p {
            padding: 40vh;
        }
        
    }

    .intro-text {
        // text-align: center;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        text-align: left;
        color: white;
        text-transform: uppercase;
    }

    .AboutPage, .ContactPage, .PortfolioPage, .ResumePage {
        min-height: 100vh;
        background-color: $dark-slate-blue;
        padding-top: 60px;
        padding-bottom: 40px;
        
    }

    #about, #portfolio, #contact, #resume {
        width: 60vw;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        line-height: 1.5;
    }

    #portfolio {
        text-align: left;
        .show-details {
            display: show;
            background-color: green;
        }
        .hide-details {
            display: none;
            background-color: red;
        }
        .project-preview {
            display: flex;
            justify-content: space-between;
        }
        .project-image {
            display: inline-block;
            width: 30%;
            // height: auto;
            margin: 10px;
            
        }
        img {
            max-width: 100%;
            border: 2px solid white;
        }
        .cantaloupe-header, .journal-header, .rewind-header {
            padding-top: 20px;
            &:hover {
                cursor: pointer;
                transform: translate(50px);
                transition-duration: 0.5s;
            }
        }
        .cantaloupe-body, .journal-body, .rewind-body {
            display: inline-block;
            padding-bottom: 200px;
        }
        .project-links {
            display: flex;
            justify-content: flex-end;
            padding: 10px 0;
        }
        .cantaloupe-project, .journal-project, .rewind-project {
            margin: 20px 0;
        }
        li {
            font-size: 16px;
        }
        h2{
            font-weight: 600;
        }
        h3{
            font-style: italic;
        }
        .demo-button, .readme-button {
            font-family: inherit;
            display: inline-block;
            margin: 5px;
            height: 40px;
            width: 140px;
            text-align: center;
            border: none;
            color: $dark-slate-blue;
            background-color: $tan;
            line-height: 40px;
            border-radius: 10px;
            &:hover {
                background-color: $dark-slate-blue;
                color: $tan;
                border: 1px solid $tan;
                cursor: pointer;
            }
            a {
                text-decoration: none;
                // color: $dark-slate-blue;
                font-size: 18px;
            }
            a:visited {
                text-decoration: none;
                color: white
            }
            a:hover {
                color: black;
            }
        }
        .technologies {
            display: flex;
            justify-content: center;
        }
        .tech-stack {
            display: flex;
            // flex-direction: column;
            justify-content: center;
            align-items: center;
            // display: inline-block;
            height: 80px;
            width: 80px;
            border-radius: 50%;
            background-color: $maroon;
            color: white;
            font-size: 12px;
            font-weight: 600;
            text-align: center;
            // line-height: 80px;
            margin: 10px;
        }
    }

    #contact {
        .top {
            height: 60vh;
            background-color: none;
        }
        .social-icon {
            width: 50px;
            height: auto;
            padding: 10px;
            color:green
        }
        .social {
            display: flex;
            align-items: center;
            margin: 5px;
        }
        a {
            text-decoration: none;
            color: white;
        }
        
        a:visited {
            text-decoration: none;
            color: white
        }
        a:hover {
            color: black;
        }
    }

}
